Chapter 5

# Algorithm Workbench 1, 6

## 1. write a function named times_ten, function should accept an argument and display the product of its argument multiplied by 10

def times_ten(number):
    result = number * 10
    print(result)

In [16]:
# get a number to multpiply by 10
def times_ten(8):
    result = number * 10
    # show results
    print(result)

SyntaxError: invalid syntax (3746573213.py, line 2)

forgot the times_ten

In [18]:
# get a number to multiply by 10
def times_ten(number):
    result = number * 10
    # show results
    print(result)
times_ten(8)

80

In [20]:
# get a number to multiply by 10
def times_ten(number):
    result = number * 10
    # show results
    print(result)
times_ten(54)

540

In [20]:
# get a number to multiply by 10
def times_ten(number):
    result = number * 10
    # show results
    print(result)
times_ten(54)

540

In [22]:
# get a number to multiply by 8
def times_ten(number):
    result = number * 8
    # show results
    print(result)
times_ten(54)

432

## 6. write a statement that generates a random number in the range of 1 - 100 and assigns it to a variable named rand

tell python to import random generated number

In [29]:
# generate random number
import random
# define rand, generate 1-100
rand = random.randit(1, 100)

AttributeError: module 'random' has no attribute 'randit'

misspelled randint

In [17]:
import random

rand = random.randint(1, 100)
# show results
print(rand)

40

In [19]:
import random

rand = random.randint(1, 100)
# show results
print(rand)

9

# Program Exercises 1, 7, 17, 18

## 17. Prime Numbers,  write a boolean function named is_prime which takes an integer as an argument and returns true if the argument is a prime number, or false otherwise. use function in a program that prompts user to enter a number then displays whether number is a prime

In [23]:
#defining prime number
def is_prime(num):
    if num <= 1:
        return False
    for i in range(2,num):
        if num % i == 0:
            return false
        return true

# user input number to determine if prime
user_input = input('enter a number: ')
try:
    user-num = int(user_input)
    if is_prime(user_num):
        print(f'{user_num} is a prime number.')
        else:
            print(f'{user_num} is not a prime number.')
except valueerror:
    print('invalid input. please enter a valid integer.')

SyntaxError: cannot assign to expression here. Maybe you meant '==' instead of '='? (3110131474.py, line 13)

did user-num instead of user_num

In [32]:
#defining prime number
def is_prime(num):
    if num <= 1:
        return False
    for i in range(2,num):
        if num % i == 0:
            return false
        return true

# user input number to determine if prime
user_input = input('enter a number: ')
try:
    user_num = int(user_input)
    if is_prime(user_num):
        print(f'{user_num} is a prime number.')
     else:
        print(f'{user_num} is not a prime number.')
except valueerror:
    print('invalid input. please enter a valid integer.')

IndentationError: unindent does not match any outer indentation level (<tokenize>, line 16)

else is not placed right corrected:

In [43]:
#defining prime number
def is_prime(num):
    if num <= 1:
        return False
    for i in range(2,num):
        if num % i == 0:
            return false
        return true

# user input number to determine if prime
user_input = input('enter a number: ')
try:
    user_num = int(user_input)
    if is_prime(user_num):
        print(f'{user_num} is a prime number.')
    else:
        print(f'{user_num} is not a prime number.')
except ValueError:
    print('invalid input. please enter a valid integer.')

enter a number:  2

2 is not a prime number.

# 18. Prime Number List, write another program like problem 17 that displays all of the prime numbers 1 - 100, program should have a loop that calls the is_prime function

rewrite so the code uses prime numbers 1-100

In [51]:
def is_prime(num):
    if num <= 1:
        return False
    for i in range(2, num):
        if num % i == 0:
            return False
    return True
# get user to input number
user_input = int(input("enter a number from 1 to 100: "))

# showing results if prime number
if 1 <= user_input <= 100:
    if is_prime(user_input):
        print(f"{user_input} is a prime number.")
    else:
        print(f"{user_input} is not a prime number.")
# creating loop
else:
    print("enter a number between 1 and 100.")

enter a number from 1 to 100:  15

15 is not a prime number.

In [53]:
def is_prime(num):
    if num <= 1:
        return False
    for i in range(2, num):
        if num % i == 0:
            return False
    return True
# get user to input number
user_input = int(input("enter a number from 1 to 100: "))

# showing results if prime number
if 1 <= user_input <= 100:
    if is_prime(user_input):
        print(f"{user_input} is a prime number.")
    else:
        print(f"{user_input} is not a prime number.")
# creating loop
else:
    print("enter a number between 1 and 100.")

enter a number from 1 to 100:  75

75 is not a prime number.

In [55]:
def is_prime(num):
    if num <= 1:
        return False
    for i in range(2, num):
        if num % i == 0:
            return False
    return True
# get user to input number
user_input = int(input("enter a number from 1 to 100: "))

# showing results if prime number
if 1 <= user_input <= 100:
    if is_prime(user_input):
        print(f"{user_input} is a prime number.")
    else:
        print(f"{user_input} is not a prime number.")
# creating loop
else:
    print("enter a number between 1 and 100.")

enter a number from 1 to 100:  22

22 is not a prime number.

## 1. kilometer converter, write a program that asks the user to enter a distance in kilometers, then converts that distance to miles. conversion formula: miles = kilometers * 0.6214

In [67]:
# have user enter distance
kilometers = float(input('enter the distance in kilometers: ')

# conversion formula
miles = kilometers * 0.6214

# display results
print(f'{kilometers} kilometers is equal to {miles} miles.')

SyntaxError: '(' was never closed (2202690389.py, line 2)

missing parenthesis

In [63]:
# have user enter distance
kilometers = float(input('enter the distance in kilometers: '))

# conversion formula
miles = kilometers * 0.6214

# display results
print(f'{kilometers} kilometers is equal to {miles} miles.')

enter the distance in kilometers:  13

13.0 kilometers is equal to 8.078199999999999 miles.

In [65]:
# have user enter distance
kilometers = float(input('enter the distance in kilometers: '))

# conversion formula
miles = kilometers * 0.6214

# display results
print(f'{kilometers} kilometers is equal to {miles} miles.')

enter the distance in kilometers:  4

4.0 kilometers is equal to 2.4856 miles.

## 7. stadium seating, class a seats cost $20, class b seats cost $15, class c seats cost $10, write a program that asks how many tickets for each class of seats were sold, then display the amount of income generated from ticket sales

In [73]:
# ticket prices
CLASS_A_PRICE = 20
CLASS_B_PRICE = 15
CLASS_C_PRICE = 10

# ask user for the number of tickets sold each class
class_a_tickets = int(input(enter the number of Class A tickets sold: '))
class_b_tickets = int(input('enter the number of Class B tickets sold: '))
class_c_tickets = int(input('enter the number of Class C tickets sold: '))

# income for each class
income_class_a = class_a_tickets * CLASS_A_PRICE
income_class_b = class_b_tickets * CLASS_B_PRICE
income_class_c = class_c_tickets * CLASS_C_PRICE

# total income
total_income = income_class_a + income_class_b + income-class_c

# display income
print(f'income from Class A tickets: ${income_class_a}")
print(f'income from Class B tickets: ${income_class_b}")
print(f'income from Class C tickets: ${income_class_c}")
print(f'total income from ticket sales: ${total_income}")

SyntaxError: unterminated string literal (detected at line 7) (3095847852.py, line 7)

fix quotation

In [77]:
# ticket prices
CLASS_A_PRICE = 20
CLASS_B_PRICE = 15
CLASS_C_PRICE = 10

# ask user for the number of tickets sold each class
class_a_tickets = int(input('enter the number of Class A tickets sold: '))
class_b_tickets = int(input('enter the number of Class B tickets sold: '))
class_c_tickets = int(input('enter the number of Class C tickets sold: '))

# income for each class
income_class_a = class_a_tickets * CLASS_A_PRICE
income_class_b = class_b_tickets * CLASS_B_PRICE
income_class_c = class_c_tickets * CLASS_C_PRICE

# total income
total_income = income_class_a + income_class_b + income-class_c

# display income
print(f'income from Class A tickets: ${income_class_a}')
print(f'income from Class B tickets: ${income_class_b}')
print(f'income from Class C tickets: ${income_class_c}')
print(f'total income from ticket sales: ${total_income}")

SyntaxError: unterminated string literal (detected at line 20) (3389012827.py, line 20)

double checking code, fixing underscore

In [93]:
# ticket prices
CLASS_A_PRICE = 20
CLASS_B_PRICE = 15
CLASS_C_PRICE = 10

# ask user for the number of tickets sold each class
class_a_tickets = int(input('enter the number of Class A tickets sold: '))
class_b_tickets = int(input('enter the number of Class B tickets sold: '))
class_c_tickets = int(input('enter the number of Class C tickets sold: '))

# income for each class
income_class_a = class_a_tickets * CLASS_A_PRICE
income_class_b = class_b_tickets * CLASS_B_PRICE
income_class_c = class_c_tickets * CLASS_C_PRICE

# total income
total_income = income_class_a + income_class_b + income_class_c

# display income
print(f'income from Class A tickets: ${income_class_a}')
print(f'income from Class B tickets: ${income_class_b}')
print(f'income from Class C tickets: ${income_class_c}')
print(f'total income from ticket sales: ${total_income}')

enter the number of Class A tickets sold:  110
enter the number of Class B tickets sold:  280
enter the number of Class C tickets sold:  200

income from Class A tickets: $2200
income from Class B tickets: $4200
income from Class C tickets: $2000
total income from ticket sales: $8400